# PostgreSQL
POSTGRES_DB=dota_analytics
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

# pgAdmin
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=

# OpenDota
ACCOUNT_ID=
OPENDOTA_API_KEY=
